In [12]:
import pandas as pd 

contacts = [['kobe bryant', 'kobebryant@hotmail.com', '1234567890'],['Lebron James' , 'lbj@gmail.com', ' 0987654321'],['mike jordan', ' airjordan@yahoo.com', '1234567891'] ]

contacts_df=pd.DataFrame(contacts,columns = ['name','email','Phone'])

contacts_df

           name                   email        Phone
0   kobe bryant  kobebryant@hotmail.com   1234567890
1  Lebron James           lbj@gmail.com   0987654321
2   mike jordan     airjordan@yahoo.com   1234567891

In [13]:
import re

def get_formatted_phone(value):
    result = re.fullmatch(r'(/d{3})(/d{3})(/d{4})',value)
    return '-' . join(result.groups()) if result else value

formatted_phone = contacts_df['Phone'].map(get_formatted_phone)

formatted_phone

0     1234567890
1     0987654321
2     1234567891
Name: Phone, dtype: object

In [14]:
contacts_df['Phone']=formatted_phone

contacts_df

           name                   email        Phone
0   kobe bryant  kobebryant@hotmail.com   1234567890
1  Lebron James           lbj@gmail.com   0987654321
2   mike jordan     airjordan@yahoo.com   1234567891